/* Planned design was to keep the application simple to avoid confusion and clutter distracting from the functionality */

body {
	font: 400 15px/1.8;
	font-family: Roboto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	margin-bottom: 75px;
	background-color: #ffe6e8;
	
}

h1 {
	font-family: 'Righteous', cursive;
	color: blueviolet;
	margin-bottom: 40px;
}

#section-height {
	height: 550px;
/* mentor suggested a border for the map section. Tested. 
  border: 5px solid navy;*/
}
#map {
    height: 500px;
} 

/* Although mobile first design was used throughout. Testing on different smaller devices and with google Devtools revealed the need to remove text over images */

@media only screen and (max-width: 700px) {
	h3 {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.carousel-indicators {
		display: none;
	}
}

@media only screen and (max-width: 333px) {
	p {
		display: none;
	}
}

@media only screen and (min-width: 666px) {
	#lowres-image {
		display: none;
	}
}

@media only screen and (max-width: 667px) {
	#XL-image {
		display: none;
	}
}


    
    



